// Navigation code here
.topStuff{
    background-color:whitesmoke;
    .top();
    h1{
    display: flex;
    justify-content: center;
    margin-bottom:2%;
    font-size: 5rem;
   
    }

    nav {
    .nposition();
   
        a{
            text-decoration: none;
            display: flex;
            justify-content: space-evenly;
            width: 6%;
            margin-left: 1%;
            font-size: 2rem;
            color: black;
        }
}
}